$colorMain: #ddd8c4;
$lineColorStart: #56310c;

// +
// $colorBackground: #111;
// $pro: #bcbe64;
// $perso: #7d8491;
// $lab: #443850;

// +
// $colorBackground: #02020b;
// $pro: #d36135;
// $perso: #7eb06a;
// $lab: #e6aa68;

$colorBackground: #111;
$pro: #f2c57c;
$perso: #83b59f;
$lab: #ef6f6c;

:export {
  pro: $pro;
  perso: $perso;
  lab: $lab;
  colorBackground: $colorBackground;
  lineColorStart: $lineColorStart;
}
